//MAIN COLORS

  //BLACK
    $black-light:  #44525A;
    $black-base:   #444444;
    $black-dark:   #000000;

  //BLUE
    $blue-light:   #edfcff;
    $blue-base:    #33475B;
    $blue-dark:    #1e2a35;
    $blue-darker:  #414A61;

  //GREEN
    $green-light:  #D0E7B6;
    $green-base:   #64CCC6;
    $green-dark:   #5B945C;

  //GREY
    $grey-light:   #E2E2E2;
    $grey-med:     #f1f1f1;
    $grey-base:    #A9A9A9;
    $grey-dark:    #767676;

  //RED
    $red-light:    #FBEAEA;
    $red-base:     #D40202;
    $red-dark:     #b30016;

  //YELLOW
    $yellow-light: #FFD980;
    $yellow-base:  #EBB129;
    $yellow-dark:  #E5A100;

  //YELLOW
    $orange-base: #FF7A01;
    $orange-dark:  darken($orange-base, 10%);

  //WHITE
    $white-light:  #F4F6F6;
    $white-base:   #FFFFFF;
    $white-med:    #ECECEC;
    $white-dark:   #9B9B9B;


    $purple-base:  #8b1c6c;
    $purple-dark:  darken(#8b1c6c, 10%);
    $primary-color: $purple-base;


  //MAIN PALETTE LIST
  $colors: (
    black-light   $black-light,
    black-base    $black-base,
    black-dark    $black-dark,
    blue-light    $blue-light,
    blue-base     $blue-base,
    blue-dark     $blue-dark,
    blue-darker   $blue-darker,
    grey-light    $grey-light,
    grey-base     $grey-base,
    grey-med      $grey-med,
    grey-dark     $grey-dark,
    green-base    $green-base,
    green-dark    $green-dark,
    red-light     $red-light,
    red-base      $red-base,
    red-dark      $red-dark,
    yellow-light  $yellow-light,
    yellow-base   $yellow-base,
    yellow-dark   $yellow-dark,
    white-light   $white-light,
    white-base    $white-base,
    white-dark    $white-dark
  );
