// Typography Variables
// ========================================

  // Font Families

  $primary-sans-serif: 'Nunito Sans', sans-serif;


  // Sizes
  $font-size-base: 14px;

  $s-giga:    60px;
  $s-mega:    48px;

  $s-huge:    36px;
  $s-large:   27px;
  $s-bigger:  22px;
  $s-big:     18px;
  $s-medium:  15.5px;
  $s-base:    14px;
  $s-small:   11px;
  $s-tiny:    9px;

  // Line Heights
  $base-line-height: $font-size-base * 1.9;
  $base-line-loose: $font-size-base * 2.2;
  $base-line-small:  $font-size-base;

  // Font Weights
  $regular: 400;
  $bold: 700;
  $heavy: 900;