<header class="page-header">
  <div class="header-block-container">
<h1>Authors</h1>
  <% if current_user.present? %>
<%= link_to '+ Add Author', new_author_path, class: 'button-white-outline' %>
<% end %>
</div>
</header>

<div class="table-block-container">
<table>
  <tbody>
    <% @authors.alphabetical.each do |author| %>
      <tr>
        <td> <%= link_to(author.reverse_name, author) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
