// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, normal);
  font: 100%/1.618;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-type($primary-sans-serif, normal, 300);
  @include rem(margin-bottom, 15px);
  color: $black-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.1;

  a{
    @include font-type($primary-sans-serif, normal, normal);
    @include transition(all 0.3s ease-in-out);
    font-size: inherit;

    &:hover{
      text-decoration: underline;
    }
  }
}

h1 { font-size: $font-size-base * 2.20; @include media($tablet){ font-size: $font-size-base * 3.00; } }
h2 { font-size: $font-size-base * 2.00; @include media($tablet){ font-size: $font-size-base * 2.75; } }
h3 { font-size: $font-size-base * 1.45; @include media($tablet){ font-size: $font-size-base * 2.25; } }
h4 { font-size: $font-size-base * 1.25; @include media($tablet){ font-size: $font-size-base * 1.5; } }
h5 { font-size: $font-size-base * 1.35; @include media($tablet){ font-size: $font-size-base * 1.35; } }
h6 { font-size: $font-size-base * 0.80; @include media($tablet){ font-size: $font-size-base * 0.80; } }


p{
  font-weight: normal;
  font-style: normal;
  @include font-type($primary-sans-serif, normal, $regular);
  @include s-base;
  @include rem(margin-bottom, 12px);
  line-height: 25px;
  color: $black-base;

  &:last-child { @include rem(margin-bottom, 0); }
}

li,
dd{
  color: $black-base;
  @include font-type($primary-sans-serif, normal, normal);
  line-height: $base-line-height;
  list-style: none;
}

a {
  color: $black-base;
  cursor: pointer;
  @include s-base;
  @include font-type($primary-sans-serif, normal, $heavy);
  @include transition(all 0.3s ease-in-out);
  text-decoration: none;

  &:hover, &:focus  {
    color: $black-dark;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

strong, b { font-weight: 900; }
i, em { font-style: italic; }

span{
  color: $grey-base;
}

u{
  text-decoration: underline;
}

hr{
  @include rem(margin-bottom, 20px);
}
