<header class="page-header">
  <div class="header-block-container">
<h1>Authors</h1>
<%= link_to '+ New Book', new_book_path, class: 'button-white' %>
</div>
</header>

<section class="book-block-container">
<div class="books">
  <% @books.each do |book| %>
  <div class="book-cover">
    <% if book.image_url %>
    <%= image_tag book.image_url %>
    <% end %>
  </div>
  <div class= "text-block">
    <h5><%= link_to book.title, book_path(book) %></h5>
    <h6><%= link_to book.author.full_name, author_path(book.author) %></h6>
  </div>
<% end %>
</div>
</section>

