<header class="page-header">
  <div class="header-block-container">
<h1>New Book</h1>
<%= link_to 'Back', books_path, class: 'button-white-outline' %>
</div>
</header>

<div class="form-block-container"
<div class="card">
<%= render 'form', book: @book %>
</div>
</div>