<header class="page-header">
  <div class="header-block-container">
    <h1>Write a Review</h1>
  </div>
</header>

<div class="form-block-container">
  <div class="card">
    <%= render 'form', review: @review %>
  </div>
</div>

